<footer>
  <small>
    2021 Rahul Jugnarain 
    <br>
    <a href="https://github.com/rahuljugnarain">
      <img src="https://db3pap001files.storage.live.com/y4mYLXuhfiSemg18DnOCorI7DXiuCZlY7JiMiD4FX254ggpY9LSEtrCP3VykKgFkFaQLi0ecfoT0Vnt0bWoOMPVKYEIzHPV4NAloqqIx_rP4TaR-oci1liHIXfdgMBzBbvWg4ces5BauHHyDpplJMWVWHRYUdQU09cZ66UZQCiYFvNRD-Clg0zGbdLSi86MDQh4?width=512&height=512&cropmode=none" alt="GitHub" style="width:32px;height:32px;">
    </a>
    <a href="https://www.linkedin.com/in/jugnarain/">
      <img src="https://db3pap001files.storage.live.com/y4mLEOPkq9TFLDazz8DXicwDKFZz-D1G4d-C2PN67vfZBH61NTrqxp-IVrblGqMdZ8DSTn0epPba5bcb5h5K-ErzDAqXr1Bdy3VSL3YzH-bjV3bEA8NrOz3wQ0O8KF8yoiGU3JLyEyD34mNQy7OTlKB5r1WqwHrwQDVaoaLdTCFsYy3QtOia6vGpYN0Ds7a7HDZ?width=512&height=512&cropmode=none" alt="LinkedIn" style="width:32px;height:32px;">
    </a>
  </small>
</footer>
